<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TitanConnectionString" connectionString="Data Source=USER1\SQLEXPRESS;Initial Catalog=QML-EX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CxTitan.Properties.Settings.TitanConnectionString"
            connectionString="Data Source=USER1\SQLEXPRESS;Initial Catalog=QML-EX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AvantechConnectionString" connectionString="Data Source=SW2\SQLEXPRESS;Initial Catalog=Janus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CxTitan.Properties.Settings.AvantechConnectionString"
            connectionString="Data Source=SW2\SQLEXPRESS;Initial Catalog=Janus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>